<link rel="stylesheet" href="../css/cart.css">

{{> header}}
<div class="cart-container">

  <div class="mycart">
    <span class="my-cart-title"><strong>My Cart ( {{#if storeProducts.length}}{{storeProducts.length}}{{else}}0{{/if}}
        item)</strong></span>
  </div>
  {{#each storeProducts}}
  <div class="my-cart-details">
    <div class="cart-item-details item1">

      <div class="sub-cart-item-details">
        <img src="../images/products/fruit-n-veg/apple.jpg" width="40px" height="40px">
      </div>

      <div class="sub-cart-item-details">
        <div class="sub-cart-item-details1">{{name}}</div>
        <div class="sub-cart-item-details1">
          <div class="sub2-cart-item-details1 item1-des"><a href="/product-remove/{{id}}">-</a></div>
          <div class="sub2-cart-item-details1 item2-des">{{count}}</div>
          <div class="sub2-cart-item-details1 item3-des">
            <a href="/product-add/{{id}}">+</a>
          </div>
          <div class="sub2-cart-item-details1 item4-des">x</div>
          <div class="sub2-cart-item-details1 item5-des">Rs. {{price}}</div>
        </div>
      </div>

    </div>
    <div class="cart-item-details item2">
      <div>Rs. 187</div>
    </div>
  </div>
  {{/each}}


  <div class="cart-other-description1">
    <div class="cart-lowest-price">
      <div class="cart-lowest-price1">
        <img src="../images/lowest-price.png" width="100px" height="30px">
      </div>
      <div class="cart-lowest-price1">
        You won't find it cheaper anywhere
      </div>
    </div>
  </div>

  <div class="cart-other-description2">
    <div class="promo-code-details">
      Promo code canbe applied on payment page
    </div>
  </div>
  <div class="cart-other-description3">
    <div class="checkout-details proceed-to-checkout">
      Proceed to checkout
    </div>
    <div class="checkout-details checkout-button">
      <span>Rs. 187</span> <span>></span>
    </div>
  </div>
</div>