<link href="../css/home.css" rel="stylesheet">
{{!--
<script src="../js/home.js"></script> --}}

{{> header}}


<div class="wrapper">
  <div class="prev-btn">PREV</div>

  <div class="slides-container">
    {{#each banners}}
    <div class="slide-image">
      <img src="{{bannerImageUrl}}" alt="{{bannerImageAlt}}" />
    </div>
    {{/each}}
  </div>

  <div class="next-btn">NEXT</div>
</div>
<div class="navigation-dots"></div>

<div class="row">
  <div class="content-container">
    {{#each categories}}
    {{#if_even order}}


    <div class="content-list1">
      <div class="description des-right">
        <span class="item-description item-des-1">{{name}}</span>
        <span class="item-description item-des-2">{{description}}</span>
        <span class="item-description item-des-3"><a href="/product/{{id}}">Explore {{key}}</a></span>
      </div>
      <div class="description des-left">
        <img src="{{imageUrl}}" width="160px" height="110px">
      </div>
    </div>

    {{else}}
    <div class="content-list1">
      <div class="description des-left">
        <img src="{{imageUrl}}" width="160px" height="110px">
      </div>
      <div class="description des-right">
        <span class="item-description item-des-1">{{name}}</span>
        <span class="item-description item-des-2">{{description}}</span>
        <span class="item-description item-des-3"><a href="/product/{{id}}">Explore {{key}}</a></span>
      </div>
    </div>
    {{/if_even}}
    {{/each}}
  </div>
</div>

<script>
  const slideImage = document.querySelectorAll(".slide-image");
  const slidesContainer = document.querySelector(".slides-container");
  const nextBtn = document.querySelector(".next-btn");
  const prevBtn = document.querySelector(".prev-btn");
  const navigationDots = document.querySelector(".navigation-dots");

  let numberOfImages = slideImage.length;
  let slideWidth = slideImage[0].clientWidth;
  let currentSlide = 0;

  // Set up the slider

  function init() {
    slideImage.forEach((img, i) => {
      img.style.left = i * 100 + "%";
    });

    slideImage[0].classList.add("active");

    createNavigationDots();
  }

  init();

  // Create navigation dots

  function createNavigationDots() {
    for (let i = 0; i < numberOfImages; i++) {
      const dot = document.createElement("div");
      dot.classList.add("single-dot");
      navigationDots.appendChild(dot);

      dot.addEventListener("click", () => {
        goToSlide(i);
      });
    }

    navigationDots.children[0].classList.add("active");
  }

  // Next Button

  nextBtn.addEventListener("click", () => {
    if (currentSlide >= numberOfImages - 1) {
      goToSlide(0);
      return;
    }

    currentSlide++;
    goToSlide(currentSlide);
  });

  // Previous Button

  prevBtn.addEventListener("click", () => {
    if (currentSlide <= 0) {
      goToSlide(numberOfImages - 1);
      return;
    }

    currentSlide--;
    goToSlide(currentSlide);
  });

  // Go To Slide

  function goToSlide(slideNumber) {
    slidesContainer.style.transform =
      "translateX(-" + slideWidth * slideNumber + "px)";

    currentSlide = slideNumber;

    setActiveClass();
  }

  // Set Active Class

  function setActiveClass() {
    // Set active class for Slide Image

    let currentActive = document.querySelector(".slide-image.active");
    currentActive.classList.remove("active");
    slideImage[currentSlide].classList.add("active");

    //   set active class for navigation dots

    let currentDot = document.querySelector(".single-dot.active");
    currentDot.classList.remove("active");
    navigationDots.children[currentSlide].classList.add("active");
  }

</script>