<link href="../css/product.css" rel="stylesheet">
{{!--
<script src="../js/product.js"> </script> --}}
{{> header}}
<div class="row">
  <div class="product-container">
    <div class="category-dropdown">
      <select class="category-dropdown-title" onchange="location = this.value;">
        {{#each categories}}
        <option class="category-dropdown-option" value="/product/{{id}}"><span
            class="category-option-name">{{name}}</span>
        </option>
        {{/each}}
      </select>
    </div>
    <div class="product-main-section">
      <div class="product-link-section">
        {{#each categories}}
        <a href="/product/{{id}}"><span class="product-link">{{name}}</span></a>
        {{/each}}
      </div>
      <div class="product-list-section">
        {{#each productCategory}}

        <div class="product-item">
          <span class="product-title">
            {{name}}
          </span>
          <div class="responsive-product">
            <div class="sub-responsive-product">
              <img src="{{imageURL}}" width="150px" height="150px">
            </div>
            <div class="sub-responsive-product">
              <span class="product-description">{{description}}</span>
              <div class="product-details-reponsive">
                <div class="product-details1 product-buy-now product-price">
                  <span>MRP Rs.</span><span>{{price}}</span>
                  <a href="/product-category-buy-now/{{id}}">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product-details">
            <div class="product-details1 product-price"><span>MRP Rs.</span><span>{{price}}</span></div>
            <div class="product-details1 product-buy-now">
              <a href="/product-category-buy-now/{{id}}">Buy Now</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{> footer}}